$darkest_grey: #252525;
$darker_grey: #2D2D2D;
$dark_grey: #3C3C3C;
$medium_grey: #4B4B4B;
$light_grey: #7C7C7C;
$lighter_grey: #C5C5C5;
$dark_red: #D90000;
$white: #FFFFFF;
$ctl_light_green: #8EC643;


