@import '_colors';
@import '_variables';

.ngdialog-theme-lorry {
  padding-bottom: 160px;
  padding-top: 160px;

  .ngdialog-content {
    background: #fff;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 780px;

    .ngdialog-close {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
    }

    .ngdialog-close:before {
      background: transparent;
      color: $white;
      content: "\00D7";
      font-size: 26px;
      font-weight: 400;
      height: 30px;
      line-height: 26px;
      position: absolute;
      right: 15px;
      text-align: center;
      top: 15px;
      width: 30px;
    }

    .ngdialog-close:hover:before,
    .ngdialog-close:active:before {
      color: $lighter_grey;
    }

    .dialog-title,
    .dialog-instructions,
    .dialog-content,
    .dialog-footer {
      padding:20px;
    }

    .dialog-title {
      background-color: $medium_grey;
      color: $white;
    }

    .dialog-content,
    .dialog-instructions {
      color: $light_grey;

      a {
        color: $light_grey;

        &:hover {
          color: $darkest_grey;
          text-decoration: none;
        }
      }
    }

    .dialog-content {
      border-top: 2px solid $lighter_grey;
      border-bottom: 2px solid $lighter_grey;
    }

    textarea {
      width: 750px;
      height: 400px;
    }

    .dialog-footer {
      position: relative;
      overflow: auto;

      button {
        margin-left: 20px;
        float: right;
      }
    }
  }

}
