@import 'colors';
@import 'variables';
@import 'buttons';

.ngdialog-theme-lorry {
  padding-bottom: 160px;
  padding-top: 160px;

  .ngdialog-content {
    background: #fff;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 780px;

    .ngdialog-close {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
    }

    .ngdialog-close:before {
      background: transparent;
      color: $white;
      content: "\00D7";
      font-size: 26px;
      font-weight: 400;
      height: 30px;
      line-height: 26px;
      position: absolute;
      right: 15px;
      text-align: center;
      top: 15px;
      width: 30px;
    }

    .ngdialog-close:hover:before,
    .ngdialog-close:active:before {
      color: $lighter_grey;
    }

    .dialog-title,
    .dialog-instructions,
    .dialog-content,
    .dialog-footer {
      padding:20px;
    }

    .dialog-title {
      background-color: $medium_grey;
      color: $white;
      height: 60px;

      h2 {
        font-size: 1.2em;
        font-weight: 600;
      }
    }

    .dialog-tabs {
      padding: 20px 20px 0 20px;
      border-bottom: 1px solid $lighter_grey;

      .button-tab-selected {
        @extend .button-primary;
        background-color: $white;
        color: #333;
        border-top: 1px solid $lighter_grey;
        border-right: 1px solid $lighter_grey;
        border-left: 1px solid $lighter_grey;
        margin-right: 15px;

        &:hover {
          @include box-shadow(0, 0, 0, rgba( $white, 0.0 ));
          background-color: $white;
        }
      }
    }

    .dialog-tabs {
      padding: 20px 20px 0 20px;
      border-bottom: 1px solid $lighter_grey;

      .button-tab-selected {
        @extend .button-primary;
        background-color: $white;
        color: #333;
        border-top: 1px solid $lighter_grey;
        border-right: 1px solid $lighter_grey;
        border-left: 1px solid $lighter_grey;
        margin-right: 15px;

        &:hover {
          @include box-shadow(0, 0, 0, rgba( $white, 0.0 ));
          background-color: $white;
        }
      }

      .button-tab-deselected {
        @extend .button-primary;
        color: #666;
        background-color: $lighter_grey;
        border-top: 1px solid $lighter_grey;
        border-right: 1px solid $lighter_grey;
        border-left: 1px solid $lighter_grey;
        margin-right: 15px;

        &:hover {
          @include box-shadow(0, 0, 5px, rgba( $lighter_grey, 0.6 ));
          color: #333;
          background-color: darken( $lighter_grey, 5% );
        }
      }
    }

    .dialog-content,
    .dialog-instructions {
      color: $light_grey;

      a {
        color: $light_grey;

        &:hover {
          color: $darker_grey;
          text-decoration: none;
        }
      }
    }

    .dialog-content {
      border-bottom: 1px solid $lighter_grey;
    }

    textarea {
      width: 750px;
      height: 400px;
    }

    .dialog-footer {
      position: relative;
      overflow: auto;

      button {
        margin-left: 20px;
        float: right;
      }
    }
  }

}
