@import '_colors';
@import '_variables';
@import 'icons';

._720kb-tooltip {
  background-color: $lightest_grey;
  color: $dark_grey;
}

._720kb-tooltip-title {
  color: $dark_grey;
}

._720kb-tooltip-caret:before {
  border: 6px solid $lightest_grey;
}

#documentPane {
  float: left;
  width: 100%;
  font-family: $monospace_font_family;
  line-height: 1.5em;
  margin-bottom: 75px;

  input[type='text'],
  input[type='radio'],
  select {
    font-family: $monospace_font_family;
    font-size: 1em;
  }
}

#documentActionsPane {
  overflow: hidden;
  position: relative;
  margin: 15px;
}

#documentResetPane {
  float: right;
}

#documentImportPane {
  margin-right: 210px;
}

#documentAlertsPane {
  margin-right: 210px;

  &.error {
    padding: 12px;
    background-color: $dark_red;
    color: $white;
  }

  &.warning {
    padding: 12px;
    background-color: $orange;
    color: $white;
  }

  .dismiss-alerts {
    float: right;

    a {
      color: $white;
    }
  }
}

.service-definition {
  position: relative;
  width: 100%;
  border-bottom: 1px solid $darkest_grey;

  div[class^="icon-"] {
    @include icon-grey;
    margin: 10px auto;
  }

  &.highlightable {

    &:hover {
      background-color: $darkest_grey;

      div[class^="icon-"] {
        @include icon-light-grey;

        &:hover {
          @include icon-white;
          cursor: pointer;
        }
      }

      .line:not(.warning),
      .action-menu {
        background-color: $darker_grey;
      }

      .line:not(.warning) .line-text {
        background-color: $darkest_grey;
      }
    }
  }

  .action-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background-color: $dark_grey;
  }
}

.section-edit {
  position: relative;
  width: 100%;
  border-bottom: 1px solid $darkest_grey;

  .gutter {
    position: absolute;
    top: 0px;
    bottom: 0px;
    display: inline-block;
    background-color: $dark_grey;
    color: $light_grey;
    width: 40px;
    margin-right: 15px;
    padding-right: 15px;
    text-align: right
  }

  .section {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 70px;

    .section-name {
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .add-new-line {

      select {
        width: 210px;
        height: 39px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      input[type='text'] {
        margin-left: 20px;
        width: 800px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    .action-area {
      float: right;
      margin-top: 10px;
      margin-right: 90px;
    }
  }
}

.line-edit {
  display: inline-block;

  .radio-edit-group {
    display: inline-block;
    height: 14px;
    width: 150px;
    padding-left: 0;
    padding-right: 0;
  }

  .label {
    display: inline-block;
    width: 150px;
  }

  .error {
    color: red;
  }

  .mark-for-deletion {
    color: $light_grey;
    background-color: $lighter_grey;
  }

  input[type='text'] {
    margin-left: 80px;
    width: 800px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  input[type='text'].build-image-text {
    width: 614px;
  }

  select {
    width: 822px;
    height: 39px;
    margin-left: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .add-link {
    display: inline-block;
    margin-left: 240px;
    margin-top: 10px;
    margin-bottom: 3px;

    a {
      color: $lighter_grey;
    }
  }

  .separator {
    border-bottom: solid 1px $dark_grey;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .search-link {
    display: inline-block;
    float: right;
    text-align: center;
    line-height: 50px;
    margin-left: 10px;

    a.active {
      color: $lighter_grey;
      cursor: pointer;
    }

    a.not-active {
      text-decoration: none;
      color: $light_grey;
      pointer-events: none;
      cursor: default;
    }
  }

  .info {
    display: inline-block;
    float: right;
    background-image: url('../images/icon_info.svg');
    background-repeat: no-repeat;
    @include background-size(60px, 60px);
    background-position: 0 0;
    width: 50px;
    height: 30px;
    color: $lighter_grey;
    margin-top: 12px;
    margin-left: 2px;
    margin-right: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  .delete {
    display: inline-block;
    float: right;
    @extend .icon-x-medium;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 20px;
    cursor: pointer;

    &:hover {
      @include icon-red;
    }
  }

  .spacer {
    display: inline-block;
    float: right;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
  }

}

.line {
  position: relative;
  margin-right: 60px;
  background-color: $dark_grey;

  .gutter {
    float:left;
    color: $light_grey;
    display: inline-block;
    width: 40px;
    margin-right: 15px;
    padding-right: 20px;
    text-align: right
  }

  .line-text {
    background-color: $darker_grey;
    margin-left: 55px;
    padding-left: 20px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &.warning {
    margin-right: 120px;
    background-color: $orange;
    color: $white;

    .gutter{
      background-color: $orange;
      color: $white;
    }


    .line-text {
      background-color: $orange;
    }

    .line-info {
      width: 50px;
      height: 25px;
      background-image: url('../images/icon_info.svg');
      background-repeat: no-repeat;
      @include background-size(50px, 50px);
      background-position: 0 0;
      position: absolute;
      display: inline-block;
      right: -55px;
      top: -1px;
      &:hover {
        cursor: pointer;
        background-position: 0 -25px;
      }
    }
  }
}

main footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: $white;
}

#documentExportPane {
  position: relative;
  padding: 15px;

  a.footer-link {
    display: block;
    float: right;
    line-height: 45px;
    color: $dark_grey;

    &:hover {
      text-decoration: none;
    }
  }

  .button-primary {
    float: right;
    margin-left: 15px;
  }

  .button-secondary {
    float: right;
    margin-left: 15px;
  }
}
