@import 'mixins';
@import 'colors';
@import 'icons';

label {
  cursor: pointer;
}

label.optional,
dt.optional {
  &:after {
    content: ' (Optional)';
    font-weight: normal;
    font-style: italic;
  }
}

input[type='text'],
input[type='radio'],
input[type='number'],
input[type='email'],
textarea {
  padding: 10px;
  font-size: 13px;
  color: $light_grey;
  border: $light_grey 1px solid;

  &:focus {
    color: $dark_grey;
    border-color: $dark_grey;
    outline: none;
  }
}

input.warning {
  border: $orange 2px solid;
}
input.error {
  border: $dark_red 2px solid;
}

select {
  padding: 6px;
  font-size: 13px;
  color: $light_grey;
  border: $light_grey 1px solid;
}

input[type='number'] {
  padding-right: 5px;
}

span.error {
  color: $dark_red;
}
input[type='text'] {
  &.ng-dirty.ng-invalid {
    border: 2px solid $dark_red;
  }
}

