// bower:scss
// endbower

@import '_colors';
@import '_variables';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #2d2d2d;
  color: #C5C5C5;
  font-family: $base_font_family;
}

header {
  position: relative;
  overflow: auto;
  padding: 15px 15px;
  background-color: $white;

  h1 {
    color: $darker_grey;
  }

  #lorryLogo {
    position: relative;
    float: left;
    background-image: url(../images/lorry_logo.png);
    width: 132px;
    height: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }

  #ctlLogo {
    position: relative;
    float: right;
    background-image: url(../images/ctl_logo.png);
    width: 145px;
    height: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}

