// bower:scss
// endbower

@import '_colors';
@import '_variables';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color: #2d2d2d;
  color: #C5C5C5;
  font-family: $base_font_family;
}

header {
  padding: 0 15px;
  background-color: $white;

  h1 {
    color: $darkest_grey;
  }
}

