<!--Screen for the adventure flow only when we have a new session-->
<div ng-show="isNewSession()" id="homeAdventurePane" ng-include="'views/home.html'" ng-controller="DocumentImportCtrl"></div>

<!--Screen for the normal flow-->
<div ng-if="!isNewSession()" >
  <div id="documentActionsPane">
    <div id="documentResetPane">
      <a class="button-secondary" href="" ng-click="resetWorkspace()">Reset Workspace</a>
    </div>
    <document-alerts id="documentAlertsPane"></document-alerts>
  </div>

  <div id="documentPane" ng-init="getValidKeys()">
    <div ng-repeat="serviceDefinition in serviceDefinitions">
      <service-definition-display ng-if="!yamlDocument.json[serviceName(serviceDefinition)].editMode"></service-definition-display>
      <service-definition-edit ng-if="yamlDocument.json[serviceName(serviceDefinition)].editMode" service-definition="serviceDefinition" section-name="serviceName(serviceDefinition)"></service-definition-edit>
    </div>
    <div ng-if="!hasLoadFailure()">
      <div id="newServiceBlockBtn" ng-if="showAddServiceBlockOrBtn()">
        <a class="button-secondary" href="" ng-disabled="inEditMode()" ng-click="addNewServiceDef()">Add a New Service Block</a>
      </div>
      <div ng-if="!showAddServiceBlockOrBtn()">
        <service-definition-edit section-name=""></service-definition-edit>
      </div>
    </div>
  </div>

  <footer>
    <div id="documentExportPane" ng-controller="DocumentExportCtrl">
      <div class="export-buttons">
        <a href="" ng-class="exportButtonStyle()" ng-disabled="!exportable()" ng-click="saveDocument()">Export Compose YAML</a>
        <a href="" class="button-secondary" ng-disabled="!exportable()" ng-click="saveGist()">Save to Gist</a>
        <a href="" ng-class="{ 'copied': copied }" class="footer-link copy" ng-if="exportable()" clip-copy="doc" clip-click="confirmCopy()">{{copyText}}</a>
        <a href="" class="footer-link copy" ng-if="!exportable()" disabled="disabled">{{copyText}}</a>
      </div>
      <div class="addthis-icons addthis_custom_sharing">
        <span>Share URL</span>
      </div>
    </div>
  </footer>
</div>
