<div id="documentActionsPane" ng-controller="DocumentImportCtrl">
  <div id="documentImportPane" ng-if="importable">
    <a class="button-primary" href="" ng-click="showImportDialog('compose')">Import compose.yml</a>
  </div>
  <div id="documentResetPane" ng-if="resettable">
    <a class="button-secondary" href="" ng-click="resetWorkspace()">Clear Workspace</a>
  </div>
  <document-alerts id="documentAlertsPane" doc="yamlDocument" ng-if="hasErrors()"></document-alerts>
</div>

<div id="documentPane">
  <div ng-repeat="serviceDefinition in serviceDefinitions">
    <service-definition-display ng-if="!yamlDocument.json[serviceName(serviceDefinition)].editMode" service-definition="serviceDefinition"></service-definition-display>
    <service-definition-edit ng-if="yamlDocument.json[serviceName(serviceDefinition)].editMode" section-name="serviceName(serviceDefinition)"></service-definition-edit>
  </div>
</div>

<footer>
  <div id="documentExportPane" ng-controller="DocumentExportCtrl">
    <a href="" class="button-primary" ng-click="saveDocument()">Export compose.yml</a>
    <a href="" class="button-secondary" ng-click="saveGist()">Save to Gist</a>
    <a href="" class="footer-link" clip-copy="doc" clip-click="confirmCopy()">{{copyText}}</a>
  </div>
</footer>

