<div class="separator"></div>
<div id="homeWrapper" class="horz-centered">
  <h3>Lorry is a docker-compose.yml validator and composer.</h3>

  <div id="buttonWrapper">
    <div id="homeImportPane">
      <a class="button-primary" href="" ng-click="showImportDialog('compose')">Import existing Compose YAML</a>
      <p>We'll validate your YAML and then you can edit or add to it using our composer.</p>
    </div>
    <div id="homeScratchPane">
      <a class="button-primary" href="" ng-click="setNewSession();">Compose YAML from Scratch</a>
      <p>Build your docker-compose.yml file service by service.</p>
    </div>
  </div>

  <div id="divider" class="clear">
    <div><hr></div>
    <div>Or select a sample file</div>
    <div><hr></div>
  </div>

  <div id="samples">
    <a class="button-secondary titip-bottom titip-default titip-wrapped"
       href=""
       ng-click="displayGist('https://gist.githubusercontent.com/ctl-labs/d93e02fc74d16e9952ef/raw/9a3b91710b176017e1aa4f3776ca44c632fed702/drupal_postgres.yml')">Drupal + PostgreSQL
       <span class="titip-content">An example demonstrating a 2 service app leveraging links, exposed ports and environment variables.</span>
    </a>
    <a class="button-secondary titip-bottom titip-default titip-wrapped"
       href=""
       ng-click="displayGist('https://gist.githubusercontent.com/ctl-labs/42528d0b4cc28f01df2d/raw/2098b84031938ce74d356fd509d0d257c33e4ea9/mediawiki.yml')">MediaWiki
       <span class="titip-content">An example demonstrating a 2 service app leveraging volume mounts.</span>
    </a>
    <a class="button-secondary titip-bottom titip-default titip-wrapped"
       href=""
       ng-click="displayGist('https://gist.githubusercontent.com/ctl-labs/31e016b1c0484960b7f4/raw/248ff6e13fa8a22190c2b5a6c1c7e120e269091c/grafana.yml')">Grafana
       <span class="titip-content">An example demonstrating a 3 service app leveraging linking and link aliasing.</span>
    </a>
    <a class="button-secondary titip-bottom titip-default titip-wrapped"
       href=""
       ng-click="displayGist('https://gist.githubusercontent.com/ctl-labs/a1028e46962408751d75/raw/3672956889230c42a03f5d87e533329ca86fcb1e/wordpress_mysql.yml')">WordPress + MySQL
       <span class="titip-content">An example demonstrating a 2 service app with linking , DNS, hostname and resource limits.</span>
    </a>
    <a class="button-secondary titip-bottom titip-default titip-wrapped"
       href=""
       ng-click="displayGist('https://gist.githubusercontent.com/ctl-labs/5864eb2adccf5bde64cb/raw/cdd113e7712903460da09da58ce18b2805f1e1e3/broken_yml.yml')">Compose YAML<br>with errors
       <span class="titip-content">Use Lorry to fix this broken YAML!</span>
    </a>
  </div>

</div>
