<div class="dialog-header">
  <div class="dialog-title">
    <h2>Import</h2>
    <div class="ngdialog-close"></div>
  </div>
  <div class="dialog-tabs">
    <a ng-class="tabStyleClasses('compose')" ng-click="setDialogTab('compose')">Import Compose.yml</a>
    <a ng-class="tabStyleClasses('pmx')" ng-click="setDialogTab('pmx')">Import PMX Template</a>
  </div>
  <div class="dialog-instructions" ng-show="dialogOptions.dialogTab === 'compose'">
    <p>
      If you have an existing yml you'd like to import, you can
      <a href="" ng-click="setDialogPane('paste')">copy &amp; paste your file</a>,
      <a href="" ng-click="setDialogPane('upload')">browse your local compose.yml files</a>, or
      <a href="" ng-click="setDialogPane('remote')">provide a url to a compose.yml.</a>
    </p>
  </div>
  <div class="dialog-instructions" ng-show="dialogOptions.dialogTab === 'pmx'">
    <p>
      If you have an existing Panamax template you'd like to import, you can
      <a href="" ng-click="setDialogPane('pmx-paste')">copy &amp; paste your file</a>,
      <a href="" ng-click="setDialogPane('pmx-upload')">browse your local Panamax template (.pmx) files</a>, or
      <a href="" ng-click="setDialogPane('pmx-remote')">provide a url to a Panamax template.</a>
    </p>
  </div>
</div>
<div class="dialog-content" ng-show="dialogOptions.dialogTab === 'compose'">
  <div ng-show="dialogOptions.dialogPane === 'upload'">
    <h3>Select your local compose.yml</h3>
    <label for="composeFileInput" class="button-secondary">Browse local files</label>
    <span class="importFileName">{{importFileName}}</span>
    <input id="composeFileInput" type="file" file-input accept=".yaml,.yml,text/yaml,text/x-yaml,application/yaml,application/x-yaml"/>
  </div>
  <div ng-show="dialogOptions.dialogPane === 'paste'">
    <h3>Paste your compose.yml contents below</h3>
    <textarea ng-model="docImport.raw"></textarea>
  </div>
  <div ng-show="dialogOptions.dialogPane === 'remote'">
    <h3>Paste the full URI of your remote compose.yml</h3>
    <input type="text" ng-model="docImport.remote">
  </div>
</div>
<div class="dialog-content" ng-show="dialogOptions.dialogTab === 'pmx'">
  <div ng-show="dialogOptions.dialogPane === 'pmx-upload'">
    <h3>Select your local Panamax template</h3>
    <label for="pmxFileInput" class="button-secondary">Browse local files</label>
    <span class="importFileName">{{importFileName}}</span>
    <input id="pmxFileInput" type="file" file-input accept=".pmx"/>
  </div>
  <div ng-show="dialogOptions.dialogPane === 'pmx-paste'">
    <h3>Paste your Panamax template contents below</h3>
    <textarea ng-model="docImport.raw"></textarea>
  </div>
  <div ng-show="dialogOptions.dialogPane === 'pmx-remote'">
    <h3>Paste the full URI of your remote Panamax template</h3>
    <input type="text" ng-model="docImport.remote">
  </div>
</div>
<div class="dialog-footer">
  <button class="button-primary" ng-click="importYaml(docImport)" ng-show="dialogOptions.dialogTab === 'compose'">
    Import Compose.yml
  </button>
  <button class="button-primary" ng-click="importYaml(docImport)" ng-show="dialogOptions.dialogTab === 'pmx'">
    Import PMX Template
  </button>
  <button class="button-secondary" ng-click="closeThisDialog()">
    Cancel
  </button>
</div>
