<div class="line-edit">
  <div ng-show="isImageOrBuild()">
    <div class="radio-edit-group">
      <input type='radio' ng-model="line.name" value='image' ng-checked="line.name == 'image'">Image
      <input type='radio' ng-model="line.name" value='build' ng-checked="line.name == 'build'">Build
    </div>
    <input type='text' ng-if="selectedImageName == null" ng-model="line.value"/>
    <input type='text' ng-if="selectedImageName != null" ng-init="line.value = selectedImageName" ng-model="line.value"/>
    <span>Or <a href="" ng-controller="SearchCtrl" ng-click="searchDialog()">Search Docker Hub</a></span>
  </div>
  <div ng-hide="isImageOrBuild()">
    <div ng-hide="hasMultipleItems()">
      <div class="label">{{line.name}}</div>
      <input type='text' ng-model="line.value" value='{{line.value}}' />
    </div>
    <div ng-show="hasMultipleItems()" ng-repeat="item in line.value track by $index">
      <div class="label">{{line.name}}</div>
      <input type='text' ng-if="line.name != 'links'" ng-model="line.value[$index]" value='{{item}}' />
      <select ng-if="line.name == 'links'" ng-model="line.value[$index]" ng-options="link as link for link in serviceNameList"></select>
    </div>
  </div>
  <div class="line-info"></div>
  <div class="line-delete"></div>
</div>
