<div class="line-edit" ng-class="lineClasses()">
  <div ng-show="isImageOrBuild()">
    <!-- Show image/build key block -->
    <div class="radio-edit-group">
      <input type='radio' ng-model="line.name" value='image' ng-checked="line.name === 'image'">Image
      <input type='radio' ng-model="line.name" value='build' ng-checked="line.name === 'build'">Build
    </div>
    <input type='text' class="build-image-text" ng-class="markForDeletionClasses()" ng-if="selectedImageName == null" ng-model="line.value"/>
    <input type='text' class="build-image-text" ng-class="markForDeletionClasses()" ng-if="selectedImageName != null" ng-init="line.value = (line.name === 'image') ? selectedImageName: line.value" ng-model="line.value"/>
    <div class="spacer" ng-hide="serviceHasMultipleLines()" ></div>
    <div class="delete" ng-show="serviceHasMultipleLines()" ng-class="deleteIconClasses()" ng-click="markLineForDeletion()"></div>
    <div class="info titip-bottom-left titip-default titip-wrapped-large">
      <span class="titip-content">
        <em class='error'>{{errorMessages()}}</em>
        <em class='warning'>{{warningMessages()}}</em>
        <em class='help'>{{getHelpTextForKey()}}</em>
      </span>
    </div>
    <div class="search-link">Or <a ng-class="searchLinkClasses()" href="" ng-controller="SearchCtrl" ng-click="searchDialog()">Search Docker Hub</a></div>
  </div>
  <div ng-hide="isImageOrBuild()">
    <div ng-hide="hasMultipleItems()">
      <!-- Show extends key block -->
      <div ng-show="isExtendsLine()">
        <div class="extends-key">
          <div class="extends-label" ng-class="keyLabelClasses()">{{line.name}}</div>
          <span class="subkey-label">{{getExtendsSubKey(0)}}</span><input type="text" class="extends-file-text" ng-class="markForDeletionClasses()" ng-model="line.value.file" />
          <span class="subkey-label">{{getExtendsSubKey(1)}}</span><input type="text" class="extends-service-text" ng-class="markForDeletionClasses()" ng-model="line.value.service" />
          <div class="delete" ng-class="deleteIconClasses()" ng-click="markLineForDeletion()"></div>
          <div class="info titip-bottom-left titip-default titip-wrapped-large">
            <span class="titip-content">
              <em class='error'>{{errorMessages()}}</em>
              <em class='warning'>{{warningMessages()}}</em>
              <em class='help'>{{getHelpTextForKey()}}</em>
            </span>
          </div>        </div>
      </div>
      <!-- Show single-value key block -->
      <div ng-show="!isExtendsLine()">
        <div ng-class="keyLabelClasses()">{{line.name}}</div>
        <input type="text" ng-class="markForDeletionClasses()" ng-model="line.value" value='{{line.value}}' />
        <div class="delete" ng-class="deleteIconClasses()" ng-click="markLineForDeletion()"></div>
        <div class="info titip-bottom-left titip-default titip-wrapped-large">
          <span class="titip-content">
            <em class='error'>{{errorMessages()}}</em>
            <em class='warning'>{{warningMessages()}}</em>
            <em class='help'>{{getHelpTextForKey()}}</em>
          </span>
        </div>
      </div>
    </div>
    <div ng-show="hasMultipleItems()">
      <!-- Show multiple-value key block -->
      <div ng-repeat="item in line.value track by $index" ng-class="classesForSubLine($index)">
        <div ng-class="keyLabelClasses()"><div ng-show="$index === 0">{{line.name}}</div></div>
        <input type='text' ng-class="markForDeletionClasses($index)" ng-if="line.name !== 'links'" ng-model="line.value[$index]" value='{{item}}' />
        <span ng-hide="true" ng-init="linkName = getLinkName(line.value[$index]); linkAlias = getLinkAlias(line.value[$index])" ></span>
        <select ng-class="markForDeletionClasses($index)" ng-if="line.name === 'links'" ng-model="linkName" ng-change="setLinkName($index, linkName)" ng-options="link as link for link in serviceNameList"></select>
        <input type='text' class="link-alias-text" placeholder="alias" ng-class="markForDeletionClasses($index)" ng-if="line.name === 'links'" ng-model="linkAlias" ng-blur="setLinkAlias($index, linkAlias)"/>
        <div class="delete" ng-class="deleteIconClasses($index)" ng-click="markLineItemForDeletion($index)"></div>
        <div class="info titip-bottom-left titip-default titip-wrapped-large">
          <span class="titip-content">
            <em class='error'>{{errorMessages($index)}}</em>
            <em class='warning'>{{warningMessages($index)}}</em>
            <em class='help'>{{getHelpTextForKey()}}</em>
          </span>
        </div>
      </div>
      <div class="add-link" ng-if="isValidKey()">+ <a href="" ng-click="addNewValueForLine()">Add {{line.name}}</a></div>
    </div>
  </div>
  <div class="separator"></div>
</div>
