<form name="editForm">
  <div class="section-edit">
    <div class="gutter">&nbsp;</div>
    <div class="section">
      <input name="sectionname" class="section-name" ng-class="sectionClasses()" ng-model="newSectionName" type="text" placeholder="sectionname"
             required ng-pattern="/^[a-zA-Z0-9]+(?:[._-][a-zA-Z0-9]+)*/" ng-trim="false" unique-service-name />
      <div ng-if="hasTopLevelErrors()" class="info-tip titip-bottom-right titip-default titip-wrapped-large">
        <span class="titip-content">
          <em class='error'>{{topLevelTooltip()}}</em>
        </span>
      </div>
      <span class="error" ng-show="editForm.sectionname.$dirty && editForm.sectionname.$invalid">Error:
        <span ng-show="editForm.sectionname.$error.pattern">Valid characters are [a-zA-Z0-9\._\-] but not starting with [.-_]</span>
        <span ng-show="editForm.sectionname.$error.required">Service name is required</span>
        <span ng-show="editForm.sectionname.$error.uniqueservicename">Service name already exists</span>
      </span>
      <div ng-repeat="line in editableJson">
        <document-line-edit num-lines="editableJson.length" line="line"></document-line-edit>
      </div>
      <div class="add-new-line">
        <select ng-model="newline.name" ng-change="addNewKey(newline.name)" ng-options="cmd as cmd for cmd in buildValidKeyList()">
          <option value="">Add a Key</option>
        </select>
      </div>
      <div class="action-area">
        <a class="button-secondary" href="" ng-click="cancelEditing()">Cancel</a>
        <a class="button-primary" href="" ng-disabled="!editForm.$valid" ng-click="saveServiceDefinition(editForm.$valid)">Save Changes</a>
      </div>
    </div>
  </div>
</form>
