<div class="section-edit" ng-init="transformToJson()">
  <div class="gutter"></div>
  <div class="section-name">
    <input ng-model="newSectionName" type="text" placeholder="section name" ng-init="newSectionName = sectionName" />
    <div ng-repeat="line in editableJson">
      <document-line-edit ng-model="line"></document-line-edit>
    </div>
    <span class="link">+<a href="" ng-click="">Add a Row</a>
    <button class="button-secondary" href="" ng-click="cancelEditing()">Cancel</button>
    <button class="button-primary" href="" ng-click="saveServiceDefinition()">Save Changes</button>
  </div>
</div>

